*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
main{
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 56, 232);
    flex-direction: column;
    height: 100vh;
}
.container{
    text-align: center;
    justify-content: space-evenly;
    color: rgb(63, 184, 184);
    background-color: white;
    padding: 2.5rem;
    width: 60%;
    font-size:2rem;
    border-radius: 10px;
}

.clock{
    margin-top:2rem;
    justify-content: space-evenly;
}

.container .clock{
    color: rgb(63, 184, 184);
}